@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: white;
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-leaf-nature-background_1035-23457.jpg?semt=ais_hybrid&w=740);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.registrationblock{
    width: 1200px;
    height: 80vh;
    background-color: white;
    box-shadow: 0px 0px 15px #444;
    display: flex;
}
.intro{
    height: 100%;
    width: 60%;
    background-color: white;
    /* background-image: url(assets/FarmIQ-thumbnails_1.1.1.jpg); */

    background-size: 130% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.intro h1{
    font-size: 60px;
    color: rgb(121, 195, 11);
}
.registrationmain{
    width: 40%;
    height: 100%;
    background-color:gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registrationmain h2{
    font-size: 40px;
}
.form-control{
    width: 280px;
    height: 35px;
    margin: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid orange;
}
button{
    width: 280px;
    margin: 5px;
    height: 35px;
    background-color: rgb(52, 54, 51);
    color: white;
}
button:hover{
    box-shadow: 2px 2px 10px red;
    opacity: 1;
}


